<div class="row">
    <div class="col-12">
        <h2>Users list</h2>
        {{#if status}}
        {{>status}}
        {{/if}}
    </div>
    <div class="col-sm">
        <table class="table table-light">
            {{#if search}}
            {{> search}}
            {{/if}}
            {{#if empty}}
            {{>empty}}
            {{else}}
            <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col">First Name</th>
                    <th scope="col">Last Name</th>
                    <th scope="col">Age</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            {{/if}}


            <tbody>
                {{#if update}}
                {{#each users}}
                <tr>
                    <th scope="row"></th>
                    <td>{{this.first_name}}</td>
                    <td>{{this.last_name}}</td>
                    <td>{{this.age}}</td>
                    <td><a class="btn btn-success mr-1" href="../user/{{this._id}}">✅</a><a class="btn btn-primary mr-1"
                            href="../users/edit/{{this._id}}">✏</a><a class="btn btn-danger"
                            href="../users/del/{{this._id}}">✖</a></td>
                </tr>
                {{/each}}
                {{else}}
                {{#each users}}
                <tr>
                    <th scope="row"></th>
                    <td>{{this.first_name}}</td>
                    <td>{{this.last_name}}</td>
                    <td>{{this.age}}</td>
                    <td><a class="btn btn-success mr-1" href="../user/{{this._id}}">✅</a></td>
                </tr>
                {{/each}}
                {{/if}}
            </tbody>
        </table>
    </div>
</div>